/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

/* Estilizando o track da scrollbar */
::-webkit-scrollbar-track {
    background: #0f1218; /* Cor do fundo da barra de rolagem */
    border-radius: 20px; /* Bordas arredondadas do fundo */
}

/* Estilizando o thumb da scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #33383e; /* Cor da "pegada" da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas do thumb */
}

/* Estilizando o thumb ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #1c232eae; /* Cor da pegada ao passar o mouse */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C232E;
    overflow-x: hidden;
}

.bodyHome {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: filter 1s ease;
}

.bodyNoticias {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100vw;
    height: 300vh;
    transition: filter 1s ease;
}

.abaHome {
    color: white !important;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.649);
}

.abaNoticias {
    color: white !important;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.649);
}

.abaTerceirao {
    color: white !important;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.649);
}

/* Divs principais */
.header {
    width: 100%;
    height: 18% !important;
    background-color: #1C232E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.headerNoticias {
    position: fixed;
    width: 1480px;
    height: 131px;
    background-color: #1C232E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    z-index: 6;
    top: 0;   
}

.headerNoticias::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px; /* Altura do gradiente */
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #0f12182d);
    pointer-events: none; /* Garante que o gradiente não interfira na interação com a página */
  }


.mainNoticias {
    background-color: #1C232E;
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacaoNoticias{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh !important;
}

/* Lista de abas no topo */
.abas {
    width: 30%;
    transition: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul img {
    width: 14px;
    transform: rotate(90deg);
}

.listAbas {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #B0B0B0;
}

.listAbas > *{
    margin: 6%;
}

li {
    transition: 0.4s;
}

li:hover {
    color: white;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.649);
}

/* Botão entrar na conta */
.setaConta {
    width: 12px;
    margin-left: 4px;
}

.btEntrarConta {
    background-color: #00000000;
    border: white solid 3px;
    border-radius: 40px;
    padding: 5px;
    margin-left: 20px;
    width: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    transition: 0.2s;
}

.btEntrarConta:hover {
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.649);
}

.conta {
    width: 18%;
    color: white;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    z-index: 1;
    transition: 0.5s;
}

.conta :hover {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.649);
}

.iconUser {
    width: 30px;
}

.nameUser {
    margin: 10px;
}

/* Logo */
.logo img {
    width: 45px;
}

.logoAdm img{
    width: 45px;
}

/*aba de notícias*/
.noticiasDestaque {
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
}

.abaPesquisa {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #0f1218;
}

.barraPesquisa {
    background-color: #1C232E;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 40px;
    margin-right: 130px;
}

.barraPesquisa input {
    background-color: #1C232E;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 160px;
    transition: width 0.5s;
}

.barraPesquisa img {
    width: 17px;
    margin: 10px;
}

.barraPesquisa.focada {
    background-color: white;
}

.barraPesquisa input::placeholder {
    position: relative;
    top: 1px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.barraPesquisa input:focus {
    outline: none;
    border: none;
    background-color: white;
    width: 200px;
}

.barraPesquisa input:focus::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: #1C232E;
}

/* Notícias */

.aba1 {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.aba2 {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.noticia1 {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background-color: #1C232E;
    width: 85%;
    height: 100%;
    overflow: hidden;
    margin-right: 2%;
}

.noticia2, .noticia3 {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background-color: #1C232E;
    width: 85%;
    height: 48%;
    overflow: hidden;
    margin-left: 2%;
}

.noticia1 img, .noticia2 img, .noticia3 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 10px;
}

.noticia1::before,
.noticia1::after,
.noticia2::before,
.noticia2::after,
.noticia3::before,
.noticia3::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 60%;
    pointer-events: none;
    z-index: 1;
    border-radius: 10px;
}

.noticia1::before,
.noticia2::before,
.noticia3::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-radius: 10px;
}

.noticia1::after,
.noticia2::after,
.noticia3::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-radius: 10px;
}

.textoCima {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    z-index: 2;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.textoPrincipal {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 50px;
    left: 6px;
    width: 100%;
    text-align: start;
    color: white;
    font-size: 20px;
    z-index: 2;
    padding: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.textoBaixo {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 100%;
    text-align: start;
    color: white;
    font-size: 13px;
    z-index: 2;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.noticia1:hover img, .noticia2:hover img, .noticia3:hover img {
    transform: scale(1.1);
    border-radius: 10px;
}

.listNoticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
}

.listNoticia {
    display: flex;
    padding: 40px;
    height: 300px;
    width: 65%;
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.344);
    margin-bottom: 20px;
    cursor: pointer;
}

.listNoticia img {
    width: 100%;
    height: 100%;
}

.ftListNoticia {
    background-color: #1C232E;
    overflow: hidden;
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.detalhesListNoticia {
    width: 50%;
    padding: 2%;
}

.detalhesListNoticia p{
    font-family: "Inter", sans-serif;
    color: white;
}

.tituloListNoticia{
    font-weight: 700;
    font-size: 20px;
}

.descricaoListNoticia{
    color: #b0b0b0 !important; 
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
    margin-top: 2%;
}

.dataListNoticia{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 2%;
}

/*Aba de Home*/
.mainHome {
    background-color: #1C232E;
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.esquerdaMain {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.itensEsquerdaMain {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.direitaMain {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.carrossel {
    position: relative;
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
    height: 60%;
}

.carrosselFotos {
    display: flex;
}

.carrosselNoticias {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.carrosselNoticias:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.999), transparent);
    z-index: 1;
    border-radius: 0 0 20px 20px;
}

.carrosselNoticias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.tituloNoticiaHome {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 25%;
    left: 28px;
    z-index: 2;
    color: white;
    opacity: 0;
    font-size: 20px;
    cursor: pointer;
}

/* Mostra o título apenas quando o slide está ativo */
.carrosselNoticias.active .tituloNoticiaHome {
    opacity: 1;
}

.barra-navegacao {
    position: absolute;
    bottom: 8%;
    right: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 10%;
    height: 15px;
}

.marcador {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #ffffff3c;
    position: relative;
    border-radius: 100px;
}

.marcador:hover {
    background-color: rgba(28, 52, 89, 0.226);
}

.marcador:not(:last-child) {
    margin-right: 5px;
}

.marcador.active {
    background-color: #1C232E;
}



.divDecoração1 {
    position: fixed;
    right: -30px;
    bottom: 0;
    width: 640px;
    height: 400px;
    background: linear-gradient(to bottom, #000000a1, #1C232E);
    transform: rotate(10deg);
}

.divDecoração2 {
    position: fixed;
    right: -200px;
    bottom: 384px;
    width: 600px;
    height: 400px;
    background: linear-gradient(to bottom, #000000a1, #1C232E);
    transform: rotate(10deg);
}

/*Frases entrada*/
.fraseHome1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.fraseHome2 {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 40px;
    color: #B0B0B0;
}

/* Botão acessar conta (Home)*/
.buttonLinkLogin {
    border-radius: 60px;
    width: 360px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.066);
}

.buttonLinkLogin:hover {
    color: white;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.649);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.649);
}

.linkLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: white;
    margin-left: 10px;
}

.linkLogin img {
    width: 18px;
    margin-left: 8px;
}

/*Para aplicar o efeito de blur ao clicar no botão*/
.desfocado {
    pointer-events: none;
    filter: blur(7px);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #1C232E;
    overflow: hidden;
}

.desfocadoNoticias{
    filter: blur(7px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100vw;
    height: 300vh;
}

/*Para retirar o efeito de blur*/


/*Aba de login*/
.login {
    font-family: "Inter", sans-serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 420px;
    height: 500px;
    border-radius: 15px;
    z-index: 10;
}

.abaLoginVisivel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.dados input::placeholder {
    color: rgb(92, 92, 92);
    font-weight: 600;
    font-size: 10px;
}

.divAbaLogin {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dados {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputAtivoLogin {
    display: block;
    width: 70%;
}

.inputOcultoLogin {
    display: none;
    width: 70%;
}

.inputEmail {
    margin-bottom: 10%;
}

.credenciais {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.inDados {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px black;
    margin-bottom: 10px;
}

.inDados:focus {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px black;
    outline: none;
}

.tituloLogin p {
    font-size: 30px;
    margin-top: 10px;
}

.tituloLogin img {
    width: 40px;
}

.tituloLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    padding: 10px;
}

.buttons {
    display: flex;
    height: 20%;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.buttons input {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    background-color: #1C232E;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.buttons input:hover {
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.649);
}

.btAtivoLogin {
    display: block;
}

.btOcultoLogin {
    display: none;
}

.abasLogin {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    background-color: #1c232e60;
    height: 55px;
    border-radius: 30px;
}

.abasLogin :hover {
    cursor: pointer;
}

.abasLogin p {
    user-select: none;
    color: #ffffff;
    text-align: center;
    z-index: 2;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    mix-blend-mode: difference;
}

.abaMovel {
    position: absolute;
    background-color: #1C232E;
    border-radius: 30px;
    width: 155px;
    height: 100%;
    left: 0;
    transition: left 0.5s;
    z-index: 1;
    /* Mantém a div abaixo do texto */
}

.abaMovelEntrar {
    left: 158px;
    width: 198px;
}

.fechaLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: 0.3s;
}

.fechaLogin img {
    width: 14px;
    cursor: pointer;
}

.fechaLogin:hover {
    background-color: #1c232e48;
}

.mainTerceirao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 82%;
}

.abaPrincipalTerceirao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 80%;
}

.eventos {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 60%;
}

.evento {
    width: 33.3%;
    margin: 10px;
}

.evento img {
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.evento img:hover {
    box-shadow: 0px 0px 6px 2px #0a111a;
    transform: scale(1.02);
}

/*Página adm - notícias*/

.barraUser img{
    width: 28px;
}

.barraUser{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*carrossel terceirao turmas*/

.carrosselTurmas{
    position: relative;
    width: 60%;
    height: 80%;
    overflow: hidden;
    border-radius: 20px;
    transition: box-shadow 0.4s;
}

.carrosselTurmas:hover{
    box-shadow: 0px 0px 20px 5px #111926;
}

.itensTurmas{
    display: flex;
}

.carrosselTurmasItens {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.carrosselTurmasItens:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    z-index: 1;
}

.carrosselTurmasItens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.nomeTurma {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 30%;
    left: 28px;
    z-index: 2;
    color: white;
    opacity: 0;
    font-size: 20px;
    cursor: pointer;
}

.carrosselTurmasItens.active .nomeTurma {
    opacity: 1;
}

/*Pop-up para verificar as informações do clicável da aba terceirão*/

.popUpTerceirao{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.block{
    display: block;
}